name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: pip install -r apps/sample-app/requirements.txt

      - name: Lint Python (if any)
        run: |
          pip install flake8
          flake8 apps/sample-app/src

      - name: Build Docker image
        run: docker build -t sample-app:latest ./apps/sample-app
